.fs-10{
    font-size: 10px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

a{
    color: black;
}

a:hover{
    color: black;
    text-decoration: none;
}

.btn {
    border-width: 0px;
}

.btn.btn-primary{
    border-width: 1px;
}

.bg-primary-red{
    background-color: #ED5D56;
}

input:focus, textarea:focus{
    border: 1px solid #ED5D56 !important;
    box-shadow: none !important;
}

::placeholder {
    color:#585757!important;
    opacity: 0.5!important;
}

:-ms-input-placeholder {
    color: #585757!important;
    opacity: 0.5!important;
}

::-ms-input-placeholder {
    color: #585757!important;
    opacity: 0.5!important;
}

.truncate-text{
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

/* JOB DETAIL PAGE */

.navigation {
    background-color: #ED5D56;
    color: white !important;
}

.navigation a {
    color: inherit;
}

.category-name {
    border: 1px solid #DBDBDB;
    border-radius: 8px;
}

.apply-button {
    background-color: #ED5D56;
    color: white;
    height: 50px;
}

.apply-button:hover {
    background-color: #D64C45;
}

.apply-button a:hover {
    text-decoration: none;
    color: white;
}

.social-media-item {
    color: black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.social-media-item:hover {
    color: black;
    text-decoration: none;
}

/* END JOB DETAIL PAGE */

/* JOB VIEW PAGE */
.header{
    position: relative;
    background-image: url("../img/img_view_jobs_header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .header-container{
    z-index: 1;
    background-color: #BD4640;
    mix-blend-mode: multiply;
}

.header .header-content{
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter-container{
    height: 75px;
    overflow: hidden;
    transition: height 0.25s ease-out;
}

.filter-container.collapsed{
    height: 100vh;
    transition: height 0.25s ease-out;
}

.filter-container .filter-list{ 
    opacity: 0;
 }

.filter-container.collapsed .filter-list{ 
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    opacity: 1;
    transition: opacity 1s;
}

.filter-container.collapsed .row div{ 
    padding-bottom: 0px!important;
}

ul.filter-list{
    width: 100%;
    overflow:scroll;
    white-space:nowrap
}

section.job-view .category-name{
    transition: 0.5s;
}

section.job-view .category-name.selected{
    background-color: white;
    color: #ED5D56!important;
    border: 1px solid #ED5D56!important;
}

section.job-view .category-name:hover{
    background-color: white;
    color: #ED5D56!important;
    border: 1px solid #ED5D56!important;
}

.job-card{
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    transition: 0.5s;
}

.job-card:hover{
    background-color: #ED5D56;
    border-color: #ED5D56;
}

.job-card:hover *{
    color: white!important;
}

.job-view .footer{
    position: relative;
}

.send-resume-button{
    background-color: white;
}

.prev-button,.next-button{
    width: 32px;
    height: 32px;
    border: 1px solid #DBDBDB;
}

.pagination li.active button{
    color: #ED5D56 !important;
}

.shimmer{
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative; 

    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;

    -moz-animation-duration: 0.5s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: placeholderShimmer;
    -moz-animation-timing-function: linear;

    -o-animation-duration: 0.5s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: infinite;
    -o-animation-name: placeholderShimmer;
    -o-animation-timing-function: linear;

    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

@keyframes placeholderShimmer {
    0% {
      background-position: -468px 0;
    }
    
    100% {
      background-position: 468px 0; 
    }
  }

/* END JOB VIEW PAGE */

/* JOB APPLY PAGE */
.application-form {
    border: 1px solid #DBDBDB;
    border-radius: 8px;
}

.file-label {
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

input[name="photo"],
input[name="resume"] {
    z-index: -1;
    left: 0;
    position: absolute;
}

.submit-button {
    background-color: #ED5D56;
    color: white;
}

.submit-button:hover {
    background-color: #D64C45;
    color: white;
}

/* END JOB APPLY PAGE */

/* TEXT COLOR */
.text-primary-red {
    color: #ED5D56 !important;
}

.text-secondary *{
    color: #989898 !important;
}

.text-white * {
    color: white!important;
}

.text-red{
    color: red!important;
}

/* END TEXT COLOR */

/* FONT WEIGHT */
.font-weight-medium {
    font-weight: 600 !important;
}

/* END FONT WEIGHT */

p {
    padding: 0;
    margin: 0;
}

label {
    margin: 0;
    padding: 0;
}


@media only screen and (min-width: 1200px) {
    .py-lg-6{
        padding-top: 6rem!important;
        padding-bottom: 6rem!important;
    }

    ul.filter-list{
        width: 100%;
        overflow:none;
    }
}